<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원등록</title>
</head>
<body>
<h1>회원 등록</h1>

<from action="{{ url_for('add') }}" method = 'post'>
    <div>
        <label>이름* : <input type="text" name="name" required></label>
    </div>
    <div>
        <label>전화번호 : <input type="text" name="phone"></label>
    </div>
    <div>
        <label>주소 : <input type="text" name="address" size="50"></label>
    </div>
    <div>
        <label>수강과목 : <input type="text" name="course"></label>
    </div>
    <div>
        <button type="submit">등록</button>
    </div>
</from>
</body>
</html>